<!--title and buttons-->
<div class="d-flex justify-content-between align-items-end">
  <div class="input-group mb-3 mt-5 w-25">
    <button class="btn btn-outline-secondary btn-custom pe-0" type="button" (click)="clearSearch()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      (keyup.enter)="sendFilteredDataToTable()"
    />
    
  </div>
  
  <div class="d-flex gap-2">
    <button
      type="button"
      class="btn btn btn-light border-2 border-dark rounded-pill mb-3 px-4"
      style="background-color: #f2efea"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Añadir
    </button>
    <button
      type="button"
      class="btn btn-dark border-2 border-dark rounded-pill mb-3 px-5"
      style="background-color: #292929"
      data-bs-toggle="modal"
      data-bs-target="#modalCrear"
    >
      Crear Cuenta
    </button>
  </div>
</div>
<!--table-->
<app-table (dataEmitter)="receiveTableData($event)"/>
