<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="background-color: #FAF9F5">
          <div class="modal-header">
            <h5 class="modal-title">Ingresar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column">
            <input type="text" name="" id="" class="mb-3">
            <input type="text" name="" id="">
          </div>
          <div class="modal-footer d-flex flex-nowrap justify-content-between w-100">
            <button type="button" class="btn btn-light border-2 border-dark rounded-pill px-4 w-100" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary border-dark  rounded-pill px-4 w-100" style="background-color: #292929;">OK</button>
          </div>
        </div>
      </div>
  </div>