<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-costum p-2 pt-0" style="background-color: #FAF9F5">
          <div class="modal-header border-0" >
            <h5 class="modal-title align-self-end pt-3 mb-0">Ingresar</h5>
            <button type="button" class="btn-close btn-custom align-self-start" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex flex-column">
            <div class="dropdown">
              <button class="btn btn-light border-dark dropdown-toggle w-100 mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedValue || 'Item' }}
              </button>
              <ul class="dropdown-menu w-100">
                @for (item of itemList; track $index) {
                  <li><button class="dropdown-item" type="button" (click)="onSelectItem(item)">{{item}}</button></li>
                }
              </ul>
            </div>
            <input #gastoInput type="number" name="" placeholder="Gasto" class="ps-3 rounded-3 border-1 py-2" style="background-color: #fff;">
          </div>
          <div class="modal-footer d-flex flex-nowrap justify-content-between w-100 border-0">
            <button type="button" class="btn btn-light border-2 border-dark rounded-pill px-4 w-100" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary border-dark  rounded-pill px-4 w-100" style="background-color: #292929;" data-bs-toggle="modal" data-bs-target="#modalConfirmation" (click)="onSelectConfirmation(gastoInput)">OK</button>
          </div>
        </div>
      </div>
  </div>
  <app-modal-confirmation />
