<div class="modal fade" id="modalConfirmation" tabindex="-1" aria-labelledby="modalConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content modal-costum p-2 pt-0" style="background-color: #FAF9F5">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-5" id="modalConfirmation"></h1>
          <button type="button" class="btn-close btn-custom align-self-start" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
            <span>¿Estas seguro?</span>
        </div>
        <div class="modal-footer d-flex flex-nowrap justify-content-between w-100 border-0">
            <button type="button" class="btn btn-light border-2 border-dark rounded-pill px-4 w-100" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary border-dark  rounded-pill px-4 w-100" style="background-color: #292929;" data-bs-dismiss="modal">OK</button>
          </div>
      </div>
    </div>
  </div>