<div
  class="container d-flex flex-row justify-content-between align-items-center mt-4"
>
  <!-- Tarjeta 1 -->
  <div class="card text-center text-black card-color-costum rounded-4">
    <div class="card-body d-flex flex-column">
      <h1 class="card-title d-flex justify-content-start m-0">1.000K</h1>
      <p class="card-text d-flex justify-content-start m-0 text-black-50">
        total
      </p>
    </div>
  </div>
  <!-- Tarjeta 2 -->
  <div class="card text-center card-color-costum-2 rounded-4 text-white">
    <div class="card-body d-flex flex-column">
      <h1 class="card-title d-flex justify-content-start m-0">-1.000K</h1>
      <p class="card-text d-flex justify-content-start m-0 text-black-50">
        total
      </p>
    </div>
  </div>
  <!-- Tarjeta 3 -->
  <div class="card text-center rounded-4">
    <div class="card-body d-flex flex-column text-dark">
      <h1 class="card-title d-flex justify-content-start m-0">-1.000K</h1>
      <p class="card-text d-flex justify-content-start m-0 text-black-50">
        total
      </p>
    </div>
  </div>
</div>
