<table class="table custom-table mt-2">
  <thead>
    <tr class="custom-tr">
      
      <th scope="col">
        <div
        class="d-flex align-items-center ">
          <span class="ps-2 me-2 pe-2">Fecha y hora</span>
        <div class="d-flex flex-column justify-content-center">
          <!--<button class="btn btn-light btn-sm m-0 p-0" (click)="sortDate(true)">
            <i class="fas fa-chevron-up fa-xs"></i>
          </button>
          <button class="btn btn-light btn-sm m-0 p-0" (click)="sortDate(false)">
            <i class="fas fa-chevron-down fa-xs"></i>
          </button>-->
        </div>
        </div>
      </th>
      <th scope="col">
        <div
        class="d-flex align-items-center ">
          <span class="me-2 pe-2">Cuenta</span>
        <div class="d-flex flex-column justify-content-center">
          <!--<button class="btn btn-light btn-sm m-0 p-0" (click)="sortItem(true)">
            <i class="fas fa-chevron-up fa-xs"></i>
          </button>
          <button class="btn btn-light btn-sm m-0 p-0" (click)="sortItem(false)">
            <i class="fas fa-chevron-down fa-xs"></i>
          </button>-->
        </div>
        </div>
      </th>
      <th scope="col w-100">
        <div
        class="d-flex align-items-center justify-content-end">
          <span class="me-2 pe-2">Movimiento</span>
        <div class="d-flex flex-column justify-content-center">
          <!--<button class="btn btn-light btn-sm m-0 p-0" (click)="sortNumbers(false)">
            <i class="fas fa-chevron-up fa-xs"></i>
          </button>
          <button class="btn btn-light btn-sm m-0 p-0" (click)="sortNumbers(true)">
            <i class="fas fa-chevron-down fa-xs"></i>
          </button>-->
        </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    @if (data && data.length > 0) { 
      
      @for(item of data; track $index){
    <tr>
      <td class="custom-td px-3 py-4">{{ item.fecha }}</td>
      <td class="custom-td px-3 py-4">{{ item.item }}</td>
      @if (item.gasto > 1) {
        <td class="custom-td text-success d-flex justify-content-end px-3 py-4">${{ formatGasto(item.gasto) }}</td>
      }
      @else {
        <td class="custom-td text-danger d-flex justify-content-end px-3 py-4">${{ formatGasto(item.gasto) }}</td>
      }
    </tr>
    } } @else { @for (item of tableItems; track $index) {
    <tr>
      <td class="custom-td px-3 py-4">{{ item.fecha }}</td>
      <td class="custom-td px-3 py-4">{{ item.item }}</td>
      @if (item.gasto > 1) {
        <td class="custom-td text-success d-flex justify-content-end px-3 py-4">${{ formatGasto(item.gasto) }}</td>
      }
      @else {
        <td class="custom-td text-danger d-flex justify-content-end px-3 py-4">${{ item.gasto }}</td>
    }
    </tr>
    }}
  </tbody>
</table>
